@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    z-index: 1000;
}

.logo {
    width: 130px;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: #fff;
}

.nav-links li {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
}

.nav-links li:hover {
    opacity: 0.7;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
}
.nav-links li:first-child:hover,
.about:hover,
.nav-links li a:hover {
    opacity: 0.7;
}
.signin-nav {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.signin-nav:hover {
    background-color: #e0e0e0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;


}
body{
    min-height: 100vh;

    background: url("abstract-background-with-low-poly-plexus-design/abstract\ low\ poly\ plexus\ design\ in\ black\ and\ white\ 0609.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: -1;
    
}



.login_box{
    position: relative;
    background-color: transparent;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);

}
h2{
    text-align: center;
    font-size: 2rem;
    color: white;
}

.input_box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input_box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: white;
    pointer-events: none;
    transition: 0.5s;

}

.input_box input{
    width: 100%;
    height: 50px;

    background:transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    padding: 0 35px 0 5px;
}

.input_box input:focus~label,
.input_box input:valid~label{
    top: -5px;
}

/* to remove autofill background */
.input_box input:-webkit-autofill,
.input_box input:-webkit-autofill:hover,
.input_box input:-webkit-autofill:focus,
.input_box input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.input_box input:-webkit-autofill ~ label {
    top: -5px;
}

.input_box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;


}
.remember_me{
    margin: -15px 0 15px;
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.remember_me label input{
    margin-right: 3px;

}

.remember_me a{
    color: white;
    text-decoration: none;
}

.remember_me a:hover{
    text-decoration: underline;
}

.login_box button{
    width: 100%;
    height: 40px;
    background:white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    color: black;
    font-weight: 500;

}
.register{
    font-size: 0.9rem;
    color: white;
    text-align: center;
    margin: 25px 0 10px;

}
.register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
@media (max-width:360px) {
    .login_box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;

    }
    .input_box{
        width: 290px;
    }
}

