@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.4;
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    position: relative;
    top: -10px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    z-index: 10;
}

.logo {
    width: 160px;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-links li {
    cursor: pointer;
    font-weight: 400;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.nav-links li:first-child:hover,
.about:hover,
.nav-links li a:hover {
    opacity: 0.7;
}

.signin,
.signup,
.explore,
.logout-nav,
#mode-toggle,
.logout-btn {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 22px;
    font-weight: 500;
    transition: 0.3s;
    font-family: inherit;
}

.signin {
    background-color: #fff;
    color: #000;
}


.signin:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}

.footer {
    background: #000000;
    padding: 50px 10% 20px;
    border-top: 1px solid #1f2937;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer h3,
.footer h4 {
    margin-bottom: 12px;
}

.footer p {
    color: #d1d5db;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin: 8px 0;
}

.footer ul a {
    color: #303234;
    text-decoration: none;
}

.footer ul a:hover {
    color: #3b82f6;
}

.socials i {
    font-size: 1.4rem;
    margin-right: 15px;
    cursor: pointer;
    color: #656363;
    transition: 0.3s;
}

.socials i:hover {
    color: #3b82f6;
}

.footer p:last-child {
    text-align: center;
    margin-top: 30px;
    color: #6b7280;
}
